<span class="@flagIconClass @Class" style="@backgroundStyle @Style"></span>

@code {

    [Parameter]
    public InputType InputType { get; set; }

    [Parameter]
    public Country Country { get; set; }

    [Parameter]
    public string ISOA2 { get; set; }

    [Parameter]
    public bool IsRounded { get; set; }

    [Parameter]
    public bool HasShadow { get; set; }

    [Parameter]
    public FlagSize Size { get; set; }

    [Parameter]
    public string Background { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Style { get; set; }



    private string backgroundStyle
    {
        get
        {
            if (!string.IsNullOrEmpty(Background))
                return $"background-image: url(\"{Background}\");";
            else
                return $"background-image: url(\"_content/Blazor.Flags/flags.png\");"; 
        }
    }


    private string flagIconCountry
    {
        get
        {
            string country = null;

            if(InputType == InputType.ISOA2)
            {
                country = this.ISOA2.ToLower().Replace("_", "-");
            }
            else
            {
                country = this.Country.ToString().ToLower().Replace("_", "-");
                
            }
            // Workarround for andora flag https://github.com/P3trur0/vue-country-flag/issues/34
            country = country.Equals("ad") ? "and" : country;
            return $"f-{country}";
        }
    }


    private string flagMargin
    {
        get
        {
            switch (this.Size)
            {
                case FlagSize.Small:
                    return "small-flag";              
                case FlagSize.Large:
                    return "large-flag";
                default:
                    return "normal-flag"; 
                
            }
        }
    }

    private string flagIconClass
    {
        get
        {
            var rnd = IsRounded ? "rounded" : string.Empty;
            var shdw = HasShadow ? "shadow" : string.Empty;

            return $"flag {flagIconCountry} {flagMargin} {rnd} {shdw}".Trim();
        }
    }   
}